* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: peru;
}

.black-key-li {
  background-color: black;
  height: 120px;
  width: 30px;
  border-width: 1px;
}

.white-key-li {
  background-color: white;
  height: 220px;
  width: 30px;
  border-width: 1px;
}

/* .keyboard-container {
  display: flex;
  justify-content: center;
} */

button {
  cursor: pointer;
}
