.knob-label {
  font-size: 12px;
}

.oscillators-container,
.synth-engine-container {
  display: flex;
  /* width: 160px; */
  flex-direction: column;
  flex-wrap: wrap;
  background-color: pink;
}

.synth-engine-container {
  display: flex;
  /* width: 160px; */
  flex-direction: column;
  flex-wrap: wrap;
  background-color: green;
}

.tempo-container,
.envelope-container-1,
.envelope-container-2 {
  display: flex;
  /* width: 160px; */
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  background-color: purple;
}

.envelope-container-1,
.envelope-container-2 {
  background-color: yellow;
}

.fx-knobs-container-1,
.fx-knobs-container-2,
.fx-knobs-container-3 {
  display: flex;
  /* width: 160px; */
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  /* width: 60px; */
  background-color: grey;
}

.step-btn {
  /* size: 40px; */
  height: 20px;
  width: 30px;
}

.step-container {
  /* background-color: brown;
  display: flex; */
  background-color: brown;
  display: flex;
  width: 250px;
  flex-wrap: wrap;
}

.sequencer-container {
  width: 310px;
  background-color: gray;
}

.oscillators-label,
.synth-engine-label,
.oscillators-header,
.synth-engine-header,
.sequencer-header {
  font-size: 12px;
}
