.knobs-container {
  display: flex;
  width: 160px;
  /* flex-direction: row; */
  flex-wrap: wrap;
  background-color: aqua;
}

.envelope-container {
  display: flex;
  width: 100px;
  /* flex-direction: row; */
  flex-wrap: wrap;
  background-color: orange;
}

.knob-label {
  font-size: 12px;
}

.oscillators-container,
.synth-engine-container {
  display: flex;
  /* width: 160px; */
  flex-direction: column;
  flex-wrap: wrap;
  background-color: pink;
}

.synth-engine-container {
  display: flex;
  /* width: 160px; */
  flex-direction: column;
  flex-wrap: wrap;
  background-color: green;
}

.tempo-container {
  display: flex;
  /* width: 160px; */
  flex-direction: column;
  flex-wrap: wrap;
  background-color: purple;
}

.step-btn {
  /* size: 40px; */
  height: 20px;
  width: 30px;
}

.step-container {
  /* background-color: brown;
  display: flex; */
  background-color: brown;
  display: flex;
  width: 250px;
  flex-wrap: wrap;
}

.sequencer-container {
  width: 310px;
  background-color: gray;
}

.oscillators-label,
.synth-engine-label,
.oscillators-header,
.synth-engine-header,
.sequencer-header {
  font-size: 12px;
}
